.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 85vh;
}
@media screen and (max-width: 1280px) {
    .wrapper {
        height: 100vh;
  }
}


