.ingredients {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.title {
  
}

.tabs {
  display:flex;

}

.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 272px));
  grid-row-gap: 32px;
  grid-column-gap: 24px;
}

.text {
  composes: text from global;
  composes: text_type_main-default from global;
  min-height: 48px;
  text-align: center;
}

.title {
  composes: text from global;
  composes: text_type_main-medium from global;
  align-self: flex-start;
  composes: mb-6 from global;
}

.scroller {
  max-height: 900px;
  overflow-y: auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.tabItems {
  display: flex;
  width: 600px;
  justify-content: space-between;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.tabItem {
  cursor: pointer;
  font-size: 30px;
}